<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'index.css', :plugin => 'redmine_fundation_plugin' %>
<% end %>

<%= render :partial => 'nav_tab' %>


<% if @entries.empty? %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
	<%= render :partial => 'list', :locals => { 
		:is_frozen => true, 
		:entries => @entries 
		}
	%>
<% end %>

<% html_title(l(:label_fundation_frozen)) %>
