<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'sale', :plugin => 'redmine_inventory_manager' %>
<% end %>

<h1>Sales</h1>
<div id="root"></div>

<%= javascript_include_tag 'sale', :plugin => 'redmine_inventory_manager' %>
